* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-padding-top: 145px;
}

h1 {
  padding: 15px;
  text-align: center;
}
h2 {
  padding: 15px 0 5px 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px;
}

ul[role="list"] {
  list-style: none;
  padding: 2px;
}

dt {
  padding: 25px 0 5px 0;
  font-weight: 900;
}
dd {
  padding: 0 0 0 25px;
  font-weight: 900;
}
dd:nth-of-type(2n) {
  font-weight: 400;
}
dd:last-of-type {
  padding: 0 0 25px 25px;
}
